In [1]:
import pandas as pd
import numpy as np
 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set(style="darkgrid")

from scipy.stats import percentileofscore
from scipy import stats

import pymc3 as pm
import arviz as az

# pd.set_option('display.max_columns', None)

from utils import *

%load_ext autoreload
%autoreload 2

import warnings
warnings.filterwarnings("ignore")

WARNING (theano.tensor.blas): Using NumPy C-API based implementation for BLAS functions.

In [2]:
import scipy.stats as scs
from scipy.stats import norm
import math
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

from sklearn.preprocessing import StandardScaler
from sklearn import linear_model

In [3]:
data = pd.read_csv('data/tv_data.csv')
data.head()

,TV_MONDAY,TV_TUESDAY,TV_WEDNESDAY,TV_THURSDAY,TV_FRIDAY,TV_SATURDAY,TV_SUNDAY,TOTAL_CONV
0,0.00,0.00,0.00,0.0,0.00,0.00,0.00,16
1,0.00,0.00,2.10,0.0,0.00,11.41,0.08,1
2,0.00,0.00,0.00,0.0,0.00,0.00,1.00,1
3,1.51,0.00,0.00,0.0,0.00,0.00,0.00,1
4,1.08,2.08,0.24,1.4,3.92,7.56,16.27,1

In [4]:
# Split for target and independent var-s
x = data.iloc[:,:-1].values
y = data.TOTAL_CONV.values

In [8]:
# Centering the independent variables in order to minimize correlation btw alpha and beta

# x_mean = x.mean(axis=0, keepdims=True)
# x_centered = x - x_mean

### Buildin Unpooled model with GROUPS of data

In [9]:
# Create groups of the Data
df_split = np.array_split(data, 5)
for i,df in enumerate(df_split):
    df['GROUP'] = 'GROUP_{}'.format(i+1)
df_groups = pd.concat(df_split)

In [10]:
df_groups.head()

,TV_MONDAY,TV_TUESDAY,TV_WEDNESDAY,TV_THURSDAY,TV_FRIDAY,TV_SATURDAY,TV_SUNDAY,TOTAL_CONV,GROUP
0,0.00,0.00,0.00,0.0,0.00,0.00,0.00,16,GROUP_1
1,0.00,0.00,2.10,0.0,0.00,11.41,0.08,1,GROUP_1
2,0.00,0.00,0.00,0.0,0.00,0.00,1.00,1,GROUP_1
3,1.51,0.00,0.00,0.0,0.00,0.00,0.00,1,GROUP_1
4,1.08,2.08,0.24,1.4,3.92,7.56,16.27,1,GROUP_1

In [11]:
groups_name = list(df_groups.GROUP.unique())
groups_name.reverse()
groups_name

['GROUP_5', 'GROUP_4', 'GROUP_3', 'GROUP_2', 'GROUP_1']

### Running Model for each group of data and collecting each trace into Dictionary

In [ ]:
individual_trace = {}

for group_name in groups_name:
    # Selecting subset of data belonging to group
    g_data = df_groups[df_groups['GROUP'] == group_name]
    g_data = g_data.reset_index(drop=True)
    
    with pm.Model() as individual_model:
        # Intercept
        alpha = pm.Normal('alpha', mu=0, sd=10)
        # Slope
        beta = pm.HalfNormal('beta', sd =50, shape = len(data.columns[:-1]))
        # Error term
        eps = pm.HalfCauchy('eps', 5)

        # Expected value of outcome (ML Regression with vectors)
        mu = alpha + pm.math.dot(x, beta)
        #alpha = pm.Deterministic('alpha', alpha_tmp - pm.math.dot(x_mean, beta))

        # Likelihood
        conversion = pm.Normal('conversion', mu= mu, sd= eps, observed=y)

        # posterior
    trace_i = pm.sample(chains = 4, progressbar= True)

    individual_trace[group_name] = trace_i

In [ ]:
individual_trace

In [ ]:
az.summary(individual_trace['GROUP_4'])

In [ ]:
ppc = pm.sample_posterior_predictive(individual_trace['GROUP_4'], samples=4000, model=individual_model)

In [ ]:
ppc

## Hierarchical Model

Instead of initiating the parameters separatly, the hierarchical model initiates group parameters that consider the groups's not as completely different but as having an underlying similarity. These distributions are subsequently used to influence the distribution of each groups's α and β.

In [ ]:
with pm.Model() as hierarchical_model:

    # Hyperpriors
    mu_a = pm.Normal('mu_alpha', mu=0., sigma=10)
    sigma_a = pm.HalfNormal('sigma_alpha', sd=10)
    mu_b = pm.Normal('mu_beta', mu=0., sd=10)
    sigma_b = pm.HalfNormal('sigma_beta', sd=10)
    
    # Priors
    alpha = pm.Normal('alpha', mu=mu_a, sd=sigma_a, shape = len(df_groups.GROUP.unique()))
    beta = pm.HalfNormal('beta', sd =50, shape = len(df_groups.GROUP.unique()))
    eps = pm.HalfCauchy('eps', 5)
    
    # Expected value of outcome (ML Regression with vectors)
    mu = alpha + pm.math.dot(x, beta)
    #alpha = pm.Deterministic('alpha', alpha_tmp - pm.math.dot(x_mean, beta))
    
    # Likelihood
    conversion = pm.Normal('conversion', mu= mu, sd= eps, observed=y)
    
    # posterior
    trace_h = pm.sample(chains = 4)